@import url("../../scss/main/main.css");

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:700');

@mixin vertical-align__center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@mixin horizontal-align__center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


* {
    box-sizing: border-box;
}
body {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
// filter: blur(2px) contrast(2) brightness(1) grayscale(0.5);

.subpage-title {
    margin: 40px auto 0;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
    font-size: calc(10px + 2.5vw);
    color: white;
    -webkit-text-stroke: 2px black;
    text-shadow:
    3px 3px 0 #000,
  -1px -1px 0 #000,  
  1px -1px 0 #000,
   -1px 1px 0 #000,
   1px 1px 0 #000;
    font-weight: bold;
    letter-spacing: 2px;
}
.wrapper {
    position: relative;
    margin: 30px auto;
    width: 400px;
    height: auto;
    color: white;
    background: rgba(0,0,0,0.8);
    border: 4px rgb(36, 36, 36) solid;
    border-radius: 10px;
}

.select-field {
    position: relative;
    // margin: 0 auto;
    // padding-top: 40px;
    width: 300px;
    margin: 40px auto;
    p {
        @include vertical-align__center;
        display: inline-block;
        left: 20%;
    }
    select {
        @include vertical-align__center;
        right: 25%;
    }
}

.input-field {
    margin: 40px auto;
    padding-top: 20px;
    width: 300px;
    input {
        @include vertical-align__center;
        right: 25%;
        width: 90px;
    }
    p {
        display: inline-block;
    }
    p:nth-child(1) {
        @include vertical-align__center;
        left: 20%;
    }
    p:nth-child(3) {
        @include vertical-align__center;
        right: 15%;
    }
}

button {
    @include horizontal-align__center;
    // margin: 30px auto;
    display: block;
}
.score {
    @include horizontal-align__center;
    bottom: 0px;
    p {
        display: inline-block;
        font-size: 20px;
    }
}