@import url("../../scss/main/main.css");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:700");
@import url("https://fonts.googleapis.com/css?family=Muli");
.return-btn {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10px;
  font-size: 18px;
  z-index: 100;
  text-decoration: none;
}

.return-btn .arrow {
  background: url(../../img/my-logo/return-btn.png) no-repeat center center;
  -webkit-transition: .3s all;
  transition: .3s all;
  background-size: contain;
  width: inherit;
  height: 65px;
  width: 65px;
  margin: 0;
  z-index: -1;
}

.return-btn:hover .arrow {
  background: url(../../img/my-logo/return-btn-hover.png) no-repeat center center;
  -webkit-transition: .3s all;
  transition: .3s all;
  background-size: contain;
  height: 75px;
  width: 75px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.subpage-title {
  margin: 60px auto 30px;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 900;
  font-size: calc(10px + 2.5vw);
  color: white;
  -webkit-text-stroke: 2px black;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-weight: bold;
  letter-spacing: 2px;
}

.wrapper {
  position: relative;
  margin: 30px auto;
  width: auto;
  max-width: 400px;
  height: auto;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  font-family: 'Muli', sans-serif;
  letter-spacing: 1px;
}

.select-container {
  height: 30px;
  position: relative;
  width: 100%;
  margin: 30px auto;
}

.select-container p {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  left: 15%;
  font-size: 20px;
  font-weight: bolder;
}

.select-container select {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
  color: white;
  right: 25%;
  text-align-last: center;
  height: 30px;
  outline: none;
  width: 102.44px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.select-container select:hover {
  background: rgba(128, 128, 128, 0.4);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.select-container option {
  background: rgba(0, 0, 0, 0.9);
  color: white;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.select-container.select-container-wide {
  height: 78px;
}

.select-container.select-container-wide p {
  top: 0;
  display: block;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.select-container.select-container-wide select {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: auto;
  margin: 10px 0 0 0;
}

.input-container {
  height: 30px;
  margin: 30px auto;
  width: 300px;
  font-size: 20px;
}

.input-container input[type=text] {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
  color: white;
  right: 25%;
  width: 102.44px;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.input-container input[type=text]:hover, .input-container input[type=text]:focus {
  background: rgba(128, 128, 128, 0.4);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.input-container input:focus {
  outline: 0;
}

.input-container p {
  display: inline-block;
  font-weight: bolder;
}

.input-container p:nth-child(1) {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15%;
}

.input-container p:nth-child(3) {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 13%;
}

.input-container.input-container-wide {
  height: 78px;
}

.input-container.input-container-wide input[type=text] {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: auto;
  margin: 10px 0 0 0;
}

.input-container.input-container-wide p:nth-child(1) {
  top: 0;
  display: block;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.input-container.input-container-wide p:nth-child(3) {
  top: none;
  -webkit-transform: none;
          transform: none;
  top: 67%;
  display: block;
  right: 15%;
}

.link {
  text-align: center;
  color: white;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.link:hover {
  color: grey;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.validation-text {
  text-align: center;
  color: red;
  height: auto;
  width: 100%;
  opacity: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.validation-text p {
  margin: 0 0 30px 0;
}

.score {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0;
  width: 80%;
  height: 90px;
  font-size: 26px;
  border-bottom: 0.5px white solid;
}

.score p {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.score p:nth-child(1) {
  display: inline-block;
  font-weight: bolder;
}

.score p:nth-child(2) {
  display: block;
  text-align: center;
  width: 100%;
  bottom: -10px;
  opacity: 0;
}

.score p:nth-child(3) {
  display: block;
  text-align: center;
  width: 100%;
  bottom: 35px;
  opacity: 0;
}

.score p:nth-child(2).show, .score p:nth-child(3).show {
  opacity: 1;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.score__longer {
  height: 140px !important;
}

button {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  position: relative;
}

.btn {
  position: relative;
  width: 100px;
  height: auto;
  cursor: pointer;
  border: 2px white solid !important;
  border-radius: 10px;
  background: transparent;
  color: white;
  font-size: 20px !important;
  overflow: hidden;
  /*slider hide*/
}

.btn:before {
  content: "";
  /*!!!*/
  position: absolute;
  bottom: 0;
  right: 0;
  background: #444444;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: -1;
}

.btn:before {
  bottom: -40px;
}

.btn:hover:before {
  bottom: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

button:active {
  -webkit-transition: .1s all;
  transition: .1s all;
  font-size: 21px !important;
  border: 1.5px white solid !important;
  background: transparent;
  width: 102px;
  outline: 0 !important;
}

.margin {
  height: 30px;
  position: relative;
  margin: 40px 0;
}

@media only screen and (max-width: 475px) {
  div.container-fluid, div.container {
    width: 100%;
    padding: 0;
  }
  .subpage-title {
    font-size: 30px;
    margin: 67px 10px 20px 10px;
  }
  .description p.description__text {
    border-radius: 0;
    font-size: 14px;
    padding: 10px 20px;
  }
  .wrapper {
    border-radius: 0;
    margin: 10px 0 20px 0;
    padding: 10px 0;
    width: 100%;
    max-width: 100%;
  }
  .input-container {
    margin: 10px auto;
    font-size: 16px;
  }
  .input-container input[type=text] {
    width: 32vw;
    right: 25%;
  }
  .select-container {
    margin: 10px auto;
    font-size: 16px;
  }
  .select-container p {
    font-size: 16px;
  }
  .select-container select {
    width: 32vw;
    right: 25%;
  }
  .select-container select:hover {
    background: transparent;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .select-container select:active {
    background: rgba(128, 128, 128, 0.4);
    -webkit-transition: all .1s;
    transition: all .1s;
  }
  .select-container.select-container-wide {
    margin: 20px 0 10px 0;
  }
  .select-container.select-container-wide p {
    margin: 0 0 8px 0;
  }
  .select-container.select-container-wide select {
    margin: 0;
  }
  .validation-text p {
    margin: 5px 0 20px 0;
  }
  .return-btn {
    position: absolute;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    top: 10px;
    left: 50%;
  }
  .return-btn .arrow {
    width: 55px;
    height: 55px;
  }
  .return-btn:hover .arrow, .return-btn:active .arrow {
    height: 60px;
    width: 60px;
  }
  .btn:hover:before {
    bottom: -40px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .btn:active:before {
    bottom: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
}
/*# sourceMappingURL=calc-style.css.map */